.stdshroom {
	margin: 0 150px;
	border-style: dashed;	
} 

#headings {
	background-color: lightgreen;
}

#jfooter {
	text-align: center;
}

#mariopic {
	padding: 10px 10px 10px 10px;
	border-style: outset;
	border-color: pink;
	margin: 15px 0;
	background-color: black;
}

h1 {
	font-family: cursive;
	color: darkblue;
}

html {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdINcKyvXgXnFCf_qlCfaAZw9FCiDFfRnnhLRbyCeElHxSNEmn);
	background-size: cover;
	
}

table {
	background-color: white;
}

a:active {
	background-color: yellow;
}

a:hover {
	color: hotpink;
}

@media (max-width: 700px) {
	h1 {
		color: gold;		
		text-align: center;
		-webkit-text-stroke: .3px black;
	}
	p {
		color: darkorange;
		-webkit-text-stroke: .9px black;
		font-weight: lighter;
	}
}
.rainbow {
  font-family: comic sans ms, cursive, sans-serif;
   background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.1, #f2f), color-stop(0.2, #22f), color-stop(0.3, #2ff), color-stop(0.4, #2f2),color-stop(0.5, #2f2), color-stop(0.6, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;

}

